contourpy==1.2.1
cycler==0.12.1
flake8==7.0.0
fonttools==4.53.0
kiwisolver==1.4.5
matplotlib==3.9.0
mccabe==0.7.0
numpy==1.26.4
packaging==24.1
pillow==10.3.0
pycodestyle==2.11.1
pyflakes==3.2.0
pyparsing==3.1.2
PyQt6==6.7.0
PyQt6-Qt6==6.7.1
PyQt6-sip==13.6.0
python-dateutil==2.9.0.post0
six==1.16.0
tqdm==4.66.4
